﻿
@{
    Layout = null;
}

<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/movie-icon.png">

<title>WatchList</title>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link href="~/dist/css/LoginP.css" rel="stylesheet" />

<div class="sidenav">
    <div class="login-main-text">

    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">

        <div style="margin-top:50%; margin-left:10px; text-align: left">

            <img src="/assets/images/movie-icon.png" width="150" height="150" alt="homepage" class="light-logo" />

            <span style="margin-left: 55px; margin-top:10px; font-size:40px; font-weight:bold;">WatchList</span>

        </div>

        <div class="login-form">
            <form asp-action="LoginAsync" asp-controller="Account" method="post"> 
                <div class="form-group">
                    <label>User Name</label>
                    <input type="text" name="firstname" class="form-control" placeholder="User Name">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="lastname" class="form-control" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-black">Login</button>
                <button type="button" class="btn btn-secondary">Register</button>
            </form>
        </div>
    </div>
</div>
